/* Wiederverwendbare Variablen */
:root {
	--timer: 0.9;
	--radius: 6px;
	--leaderboard-size: 200px;
}

body {
	font-family: sans-serif;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

body, html, .full-width {
	height: 100%;
	margin: 0;
}

#container {
	display: flex;
	height: 100%;
}

#app {
	width: calc(100% - var(--leaderboard-size));
}

#leaderboard {
	width: var(--leaderboard-size);
	margin: 10px 10px 10px 0px;
	align-content: center;
}

.panel {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	padding: 20px;
}

.view-transition-scale {
	view-transition-name: active-item;
}

.panel-score {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: var(--radius);
	padding: 8px;
	background: linear-gradient(to left, #9747ff, #9747ff calc(var(--timer) * 100%), #00000000 calc(var(--timer) * 100%));
}

.falsch {
	background-color: rgba(50255, 64, 50, 0.3) !important;
	box-shadow: inset 0px 0px 0px 3px rgba(255, 0, 0, 0.5) !important;
}


button {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: var(--radius);
	padding: 8px 20px;
	font-size: x-large;
	border: none;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

button:active {
	background-color: rgba(255, 255, 255, 0.1);
}

h1, h2, h3, h4 {
	margin-top: 0px;
	margin-bottom: 8px;
}

pre, #antwort {
	font-size: xx-large;
	font-family: monospace;
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid rgba(255, 255, 255, 0.25);
	padding: 6px 4px 4px 4px;
}

#aufgabe {
	letter-spacing: 0.5rem;
}

#istgleich {
	margin-right: 0.5rem;
}

#antwort {
	background-color: rgba(255, 255, 255, 0.15);
	width: 90px;
	height: 30px;
	padding: 6px;
	outline: none;
	border: none;
	border-radius: 6px;
}
