/* Wiederverwendbare Variablen */
:root {
	--timer: 0.0;
	--radius: 6px;
	--leaderboard-size: 250px;
}

body {
	font-family: sans-serif;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.center-text {
	text-align: center;
}

body, html, .full-width {
	height: 100%;
	margin: 0;
}

#container {
	display: flex;
	height: 100%;
}

#app {
	width: calc(100% - var(--leaderboard-size));
}

#leaderboard {
	width: var(--leaderboard-size);
	margin: 10px 20px 10px 0px;
	align-content: center;
}

.leaderboard-panel {
	max-height: 75%;
	overflow: auto;
	text-align: center;
	view-transition-name: leaderboard;
}

.leaderboard-buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
}

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

@media (max-width: 550px) {
	#app {
		width: 100%;
	}

	.app-panel {
		margin-bottom: 45vh;
	}

	.leaderboard-panel {
		max-height: 30vh;
		margin: 0vw 3vw;
	}

	#leaderboard {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	
	#grid {
		grid-template-columns: 1fr;
	}

	@media (max-height: 300px) {
		#leaderboard {
			display: none;
		}

		.app-panel {
			margin-bottom: unset;
		}
	}
}

.panel {
	background-color: #2A2A2A;
	border-radius: 12px;
	padding: 20px;
	box-shadow: 0px 4px 15px 8px black;
}

.panel-score {
	display: flex;
	flex-direction: column;
	align-items: center;
	outline: thick solid #00000040;
	box-shadow: 0px 2px 6px 6px #0000005d;
	background: linear-gradient(to left, #9747ff, #9747ff calc(var(--timer) * 100%), #00000000 calc(var(--timer) * 100%));
	border-radius: var(--radius);
	padding: 8px;
}

#header {
	display: flex;
	justify-content: center;
	gap: 8px;
}

#header > h1 {
	margin: 0px;
}

.config {
	margin: 8px 0px;
}

.falsch {
	background-color: #a30000;
	box-shadow: 0 0 15px 10px #a30000;
}

.richtig {
	background-color: #00a333;
	box-shadow: 0 0 15px 10px #00a333;
}

button {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: var(--radius);
	padding: 8px 20px;
	font-size: large;
	border: none;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

button:active {
	background-color: rgba(255, 255, 255, 0.1);
}

h1, h2, h3, h4, p {
	margin-top: 0px;
	margin-bottom: 10px;
}

h2 {
	font-size: larger;
	font-weight: normal;
}

pre, #antwort {
	font-size: xx-large;
	font-family: monospace;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#eingabebereich {
	display: flex;
	align-items: center;
	padding-top: 20px;
}

#antwort:focus {
	outline: 2px solid #ffffff80;
}

ul {
	margin: 0px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid rgba(255, 255, 255, 0.25);
	padding: 6px 6px 4px 6px;
}

td {
	max-width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

th {
    background-color: rgba(255, 255, 255, 0.15);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.08);
}

#aufgabe {
	letter-spacing: 0.5rem;
}

#istgleich {
	margin-right: 0.5rem;
}

#antwort {
	background-color: rgba(255, 255, 255, 0.15);
	width: 90px;
	height: 30px;
	padding: 6px;
	outline: none;
	border: none;
	border-radius: 6px;
}

.app-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	max-height: 85%;
	view-transition-name: app;
}

.loading {
	margin: 0px;
}

input, select {
	padding: 4px;
	margin: 4px 0px;
	border-radius: 4px;
	border: solid 1px gray;
}

#results {
	max-height: 30vh;
	overflow: auto;
}

#history {
	user-select: none;
}
